<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mauth.account.mapper.JobAndTriggerMapper">

    <select id="getJobAndTriggerDetails" resultType="cn.mauth.account.core.model.JobAndTrigger">
        SELECT
            jd.JOB_NAME as jobName,
            jd.JOB_GROUP as jobGroup,
            jd.JOB_CLASS_NAME as jobClassName,
            t.TRIGGER_NAME AS triggerName,
            t.TRIGGER_GROUP AS triggerGroup,
            t.TRIGGER_STATE as triggerState,
            t.NEXT_FIRE_TIME as nextFireTime,
            t.PREV_FIRE_TIME as prevFireTime,
            t.START_TIME as startTime,
            t.END_TIME as endTime,
            ct.CRON_EXPRESSION as cronExpression,
            ct.TIME_ZONE_ID as timeZoneId
        FROM
          qrtz_job_details jd
            JOIN qrtz_triggers t
            JOIN qrtz_cron_triggers ct ON jd.JOB_NAME = t.JOB_NAME
            AND t.TRIGGER_NAME = ct.TRIGGER_NAME
            AND t.TRIGGER_GROUP = ct.TRIGGER_GROUP
    </select>

    <select id="countByJobName" resultType="int">
        select count(1) from qrtz_triggers where JOB_NAME=#{jobName}
    </select>

    <select id="getState" resultType="java.lang.String">
        select TRIGGER_STATE FROM qrtz_triggers where JOB_NAME=#{jobName} and JOB_GROUP=#{jobGroup}
    </select>
</mapper>